<a href="https://colab.research.google.com/github/KwanJ-N/CatDCGAN/blob/master/Scheduler-01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/d8/29/45c72a2292011816aab7f73e778872e79573a2ecc897592f7119ed802a82/mysql_connector_python-8.0.19-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.7MB 289kB/s
Collecting protobuf==3.6.1
  Downloading https://files.pythonhosted.org/packages/c2/f9/28787754923612ca9bfdffc588daa05580ed70698add063a5629d1a4209d/protobuf-3.6.1-cp36-cp36m-manylinux1_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 42.0MB/s
Collecting dnspython==1.16.0
  Downloading https://files.pythonhosted.org/packages/ec/d3/3aa0e7213ef72b8585747aa0e271a9523e713813b9a20177ebe1e939deb0/dnspython-1.16.0-py2.py3-none-any.whl (188kB)
     |████████████████████████████████| 194kB 50.3MB/s
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf==3.6.1->mysql-connector-python) (45.1.0)
ERROR: tensorflow-metadata 0.21.1 has requirement protobuf<4,>=3.7, but you'll have protobuf 3.6.1 which is incompatible.
Installing collected packages: protobuf, dnspython, mysql-connector-python
  Found existing installation: protobuf 3.10.0
    Uninstalling protobuf-3.10.0:
      Successfully uninstalled protobuf-3.10.0
Successfully installed dnspython-1.16.0 mysql-connector-python-8.0.19 protobuf-3.6.1

In [0]:
import random as rand
import mysql.connector
import numpy as np
import pandas as pd

MYSQL CONNECTOR CODE 
need to figure out how to connect to school mysql

In [0]:

import mysql.connector

mydb = mysql.connector.connect(
  host="athena.ecs.csus.edu",
  user="semicolon_user",
  passwd="chickenthighs",
  database="semicolon"
)

mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
	print(x)

In [0]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

Create lists to temp hold Variables  
Two lists  
1st list holds Person objects which have names.  
2nd list needs to be returned or queried by Javascript somehow to show the People selected by Python for that day to work.

In [0]:
lst = []
lst2 = []
print(lst)

[]

In [0]:
def arrayApp(item, array):
    array.append(item)
    return array

a function meant to hold data, right now just their name and weight  
Idea here is to create an object which will hold the persons information, then put that object into the lst which we can then use to sort etc.

In [0]:
class person(object) :
  def __init__(name, weight):
      p_name = name
      p_weight = weight
  def nameCall():
    return p_name
  def weightCall():
    return p_weight

In [0]:
lst.clear()
test = person('john' '5')
arrayApp(test, lst)
print(lst)
print(len(lst))

In [0]:
def createP(name):
  newPerson = person(name '10')
  arrayApp(newPerson, lst)

In [0]:
def randomizer(size):
  return rand.randrange(size)

Idea for Query is to grab all the names of the people who can work that day and in that time slot, 3 hours minimum Use fetchall(), fetchmany() and fetchone()   Make sure in query to only select name.  
QUERY IS WRONG STILL!! NEED TO SEE THE ACTUAL TABLE SO I CAN SEARCH FOR THE PROPER PARAMETER

In [0]:
def querydb(day, time):
  sql_select_query = """select Fname, Lname from Employee where*"""
  mycursor.execute(sql_select_query(buffered = True))
  search = mycursor.fetchall()
  for row in search:
      createP((row[0] + " " + row[1]))

Idea for select is to send it a lst, which will have a array 2 elements, name and weight. it will pick based on weight, which should intially all be equal, and if it is it picks a random one.

In [0]:
def select(list):
  
  randomizer(len(list))

Sort the List of names by Weight

In [0]:
def sortList(list):

Count the number of weights in the List that are equal

In [0]:
def countList(list)